*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //defines what 1 rem value is
    font-size: 62.5%;
}

body {
    padding: 2.5vw;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
