body {
    font-family: $default-font-size;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: #fff;
    backface-visibility: hidden;
    text-transform: uppercase;
    margin-bottom: 6rem;
    &--main {
        display: block;
        text-align: center;
        font-size: calc(3rem + 2.5vw);
        font-weight: 400;
        letter-spacing: 3.5vw;
        animation-name: moveInLeft;
        animation-duration: 1s;
        -moz-animation-timing-function: ease-out;
    }
    &--sub {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: calc(1rem + 0.8vw);
        letter-spacing: calc(1rem + 0.5vw);
        animation-name: moveInRight;
        animation-duration: 1s;
        -moz-animation-timing-function: ease-out;
    }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;
    letter-spacing: 0.2rem;

    &:hover {
        transform: skewY(2deg) skewX(5deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color: #000000, $alpha: 0.2);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
