$LightGreen: #89e979;
$LightGreenWithOpacity: rgba(78, 219, 108, 0.829);
$MediumGreen: #55c57a;
$DarkGreen: #28b43f;
$DarkGreenWithOpacity: rgba(43, 250, 7, 0.795);
$Black: #000;
$TextGrey: #777;
$body-font: "Lato", sans-serif;
